{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-12">
        <h1>Local MangaPlus</h1>

        <twig:Button  as="a" href="/">Hello</twig:Button>
    </div>
{% endblock %}
