# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    session: true

    http_client:
        default_options:
            verify_host: false
            verify_peer: false

        scoped_clients:
            mangaPlus.client:
                base_uri: 'https://jumpg-webapi.tokyo-cdn.com/api/'
                headers:
                    User-Agent: 'okhttp/4.12.0'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
