/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/phpunit.xml
/.phpunit.cache/

/node_modules/
/public/build/

/data_dev.db
/data_test.db
/data_prod.db

/.idea/
