{
	frankenphp {
		php_ini memory_limit 512M
		php_ini zend.max_allowed_stack_size -1

		worker {
		    file public/index.php

            watch src/**/*.php
            watch templates/**/*.html.twig
		}
	}

	supervisor {
        php bin/console messenger:consume --all -vv {
            dir /app
            termination_grace_period 30s
            restart_policy always
            replicas 3
        }
	}
}

http://localhost https://localhost {
    encode zstd br gzip

	mercure {
        publisher_jwt !ChangeThisMercureHubJWTSecretKey!
        anonymous
    }

    php_server {
        root /app/public
    }
}
