{
    debug

	frankenphp {
		php_ini memory_limit 512M
		php_ini zend.max_allowed_stack_size -1
		php_ini zend.reserved_stack_size -1
		php_ini max_execution_time 180

		max_wait_time 20s

		worker {
		    file public/index.php
            num 10
            env FRANKENPHP_LOOP_MAX 100

            watch src/**/*.php
            watch templates/**/*.html.twig
		}
	}

	supervisor {
        php bin/console messenger:consume --all -vv {
            dir /app
            replicas 5
        }
	}
}

http://localhost https://localhost {
    encode zstd br gzip

	mercure {
        publisher_jwt !ChangeThisMercureHubJWTSecretKey!
        anonymous

        debug

        log {
        	level debug
        }
    }

    php_server {
        root /app/public
    }
}
