services:
  php:
    build:
      context: .
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./:/app
      - ./Caddyfile:/etc/frankenphp/Caddyfile
