services:
  php:
    build:
      context: .
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: '/app'
    tty: true
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      FRANKENPHP_CONFIG: "worker public/index.php"
    volumes:
      - ./:/app
      - ./Caddyfile:/etc/frankenphp/Caddyfile
