<div {{ attributes }} {% if this.chapter.downloadStatus == enum('App\\ImmutableValue\\DownloadStatus').Downloading %}data-poll{% endif %}>
    {% if this.chapter.downloadStatus == enum('App\\ImmutableValue\\DownloadStatus').Downloaded %}
        <twig:Button as="a" href="{{ this.chapter.cbzPath }}" variant="default" size="icon" target="_blank">
            <twig:ux:icon name="lucide:eye" class="size-4" />
        </twig:Button>
    {% elseif this.chapter.downloadStatus == enum('App\\ImmutableValue\\DownloadStatus').Downloading %}
        <twig:Button as="button" variant="outline" size="icon" disabled>
            <twig:ux:icon name="lucide:loader-circle" class="size-4 animate-spin" />
        </twig:Button>
    {% elseif this.chapter.downloadStatus == enum('App\\ImmutableValue\\DownloadStatus').DownloadingFailed %}
        <twig:Button as="button" variant="outline" size="icon" disabled>
            <twig:ux:icon name="lucide:badge-info" class="size-4" />
        </twig:Button>
    {% else %}
        <twig:Button
            as="button"
            variant="outline"
            size="icon"
            data-action="live#action"
            data-live-action-param="startDownload"
        >
            <twig:ux:icon name="lucide:download" class="size-4" />
        </twig:Button>
    {% endif %}
</div>
