h1, .h1 {
    @apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
}

h2, .h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

h3, .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4, .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
    @apply leading-7 not-first:mt-6;
}

blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
}

ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

.lead {
    @apply text-muted-foreground text-xl;
}
