<div
    id="flashes"
    class="fixed top-4 right-4 z-50 flex flex-col gap-2 w-full max-w-sm"
    data-controller="flash"
    data-flash-url-value="{{ mercure('notifications') }}">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ include('_flash_message.html.twig', {label: label, message: message}) }}
        {% endfor %}
    {% endfor %}
</div>
