<div class="container">
    <div class="flex flew-row items-center justify-center gap-x-4 py-4">
        <twig:Button as="a" href="/" variant="ghost">Home</twig:Button>
        <twig:Button as="a" href="/" variant="ghost">Library</twig:Button>
        <twig:Button as="a" href="/" variant="ghost">Explore</twig:Button>
        <twig:Button as="a" href="/" variant="ghost">Downloads</twig:Button>
        <twig:Button as="a" href="/" variant="ghost">Settings</twig:Button>
    </div>
</div>
