<div
    {{ attributes }}
    x-data
>
    {% set chapters = this.chapters %}

    <twig:Table class="caption-top" x-ref="list">
        <twig:Table:Caption class="text-left text-lg mb-2">Chapters downloaded</twig:Table:Caption>
        <twig:Table:Header>
            <twig:Table:Row>
                <twig:Table:Head>Manga</twig:Table:Head>
                <twig:Table:Head>Name</twig:Table:Head>
                <twig:Table:Head class="w-48">Downloaded at</twig:Table:Head>
                <twig:Table:Head class="text-right w-8">Actions</twig:Table:Head>
            </twig:Table:Row>
        </twig:Table:Header>
        <twig:Table:Body>
            {% for chapter in chapters %}
                {{ include('chapters/_download.html.twig', {chapter: chapter}, false) }}
            {% endfor %}
        </twig:Table:Body>
    </twig:Table>

    {% set delta = 2 %}
    {% set totalPages = this.totalPages %}

    <twig:Pagination>
        <twig:Pagination:Content>
            {% if page > (delta + 1) %}
                <twig:Pagination:Item>
                    <twig:Pagination:Link
                        as="button"
                        x-on:click="$refs.list.scrollIntoView({ behavior: 'smooth' })"
                        data-action="live#update"
                        data-model="page"
                        data-value="1"
                        :active="page == 1"
                        class="cursor-pointer"
                    >
                        1
                    </twig:Pagination:Link>
                </twig:Pagination:Item>
            {% endif %}

            {% if page > (delta + 2) %}
                <twig:Pagination:Item>
                    <twig:Pagination:Ellipsis />
                </twig:Pagination:Item>
            {% endif %}

            {% for i in max(1, page - delta)..min(totalPages, page + delta) %}
                {% if i > 0 and i <= totalPages %}
                    <twig:Pagination:Item>
                        <twig:Pagination:Link
                            as="button"
                            x-on:click="$refs.list.scrollIntoView({ behavior: 'smooth' })"
                            data-action="live#update"
                            data-model="page"
                            :data-value="i"
                            :active="page == i"
                            class="cursor-pointer"
                        >
                            {{ i }}
                        </twig:Pagination:Link>
                    </twig:Pagination:Item>
                {% endif %}
            {% endfor %}

            {% if page < totalPages %}
                {% if page < (totalPages - delta - 1) %}
                    <twig:Pagination:Item>
                        <twig:Pagination:Ellipsis />
                    </twig:Pagination:Item>
                {% endif %}

                {% if page < (totalPages - delta) %}
                    <twig:Pagination:Item>
                        <twig:Pagination:Link
                            as="button"
                            x-on:click="$refs.list.scrollIntoView({ behavior: 'smooth' })"
                            data-action="live#update"
                            data-model="page"
                            :data-value="totalPages"
                            :active="page == totalPages"
                            class="cursor-pointer"
                        >
                            {{ totalPages }}
                        </twig:Pagination:Link>
                    </twig:Pagination:Item>
                {% endif %}
            {% endif %}
        </twig:Pagination:Content>
    </twig:Pagination>
</div>
